DISCORD_TOKEN = -Your Discord Token-
EMAIL_ADDRESS = -bot email address-
EMAIL_PASSWORD = aaaa bbbb cccc dddd
GITHUB_TOKEN= -bot gmail token-

BOT_ADMIN_ROLE_ID = 123456
MANAGEMENT_ROLE_ID = 78910
MEMBER_ROLE_ID = 1112131415
SUPERVISOR_ROLE_ID = 262728293
GH_UPDATES_CHANNEL_ID=1617181920
CALENDAR_UPDATES_CHANNEL_ID=2122232425

GITHUB_ORG= -Github Organisation-
GOOGLE_CALENDAR_ID= -Calendar ID-